@model IEnumerable<StudentsManagement.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Teachers Information</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a type="button" class="btn btn-secondary" fdprocessedid="0epeqn" asp-action="Create">Add New Teacher</a>
    </p>
}
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    <a type="button" class="btn btn-success" fdprocessedid="5wj2ze" asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a type="button" class="btn btn-secondary" fdprocessedid="0epeqn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a type="button" class="btn btn-warning" fdprocessedid="095pk" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
